<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Users Show</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="container">

            <h1>User {{ number }}</h1>
            <ul style='list-style : none'>
                <li><label>Full Name:</label>  {{ first_name }} {{ last_name }}</li>
                <li><label>Email:</label>  {{ email }}</li>
                <li><label>Created at:</label>  {{ created_at }}</li>
            </ul>
            <a href="edit">Edit</a> | <a href="destroy">Delete</a> 
        </div>
    </body>
</html>